@import "tailwindcss";

@theme {
  --font-sans: "SF Pro Display", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

:root {
  font-family: var(--font-sans);
  background-color: #f5f5f7; /* Apple light gray background */
  color: #1d1d1f;
}

body {
  margin: 0;
  min-height: 100vh;
}
